DATABASE = 'mongodb://127.0.0.1:27017/aegis'
PORT = 8080
NINAPI = 'https://sandbox.myidentitypass.com/api/v1/biometrics/merchant/data/verification/nin_wo_face'
BVNAPI ='https://sandbox.myidentitypass.com/api/v1/biometrics/merchant/data/verification/bvn'
