# TO remove node_modules from being pushed to the repository
node_modules/

# This File Pops out from no where
.ionide/

# Incase any of the contributors uses npm this will prevent the package-lock from being pushed to the Repo
package-lock.json

# This uses the yarn Package manager also prevents the yarn lock from being pushed
yarn.lock

# This is were we will keep our secret files(api key,mongodb) we do not want that exposed
.env