@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px 30px;
    margin-bottom: 50px;
}

main {
    padding: 20px 30px;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #000;
}

.content {
    margin: 20px 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    color: #dbc6e0;
}

.content.notes {
    color: #000;
}

.content span {
    width: fit-content;
    background: #ddd;
    color: #000;
    padding: 5px 0;
    font-family: monospace;
}

.content span, .content i {
    padding: 5px 15px;
}

.content i {
    font-style: normal;
    color: #000;
}

.content .codes {
    margin: 10px 0;
}

.content ul {
    list-style: none;
}

.content ul li {
    margin: 5px 0;
}

.content ul li::before {
    content: '-';
    margin-right: 10px;
}