<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aigis Home</title>
</head>
<body>
    <h1>Aigis</h1>

    <dl>
        <li>/api/docs</li>
        <li>/api/user/signup</li>
        <li>/api/user/login</li>
        <li>/api/user/user:id</li>
        <li>/api/cars</li>
        <li>/api/</li>
    </dl>
</body>
</html>